*{
	margin: 0;
	padding:0;
}
ul>li{
	list-style: none;
}
nav{
	margin-top: 50px;
}
nav ul li{
	border: 1px solid #AD0798;
	padding: 5px 55px;
	cursor: pointer;
}
div{
	margin-bottom: 20px;
}